* {
  box-sizing: border-box;
}

body {
  font-family: "GeneralSans-Variable", "GeneralSans-VariableItalic",
    "GeneralSans-Extralight", "GeneralSans-ExtralightItalic",
    "GeneralSans-Light", "GeneralSans-LightItalic", "GeneralSans-Regular",
    "GeneralSans-Italic", "GeneralSans-Medium", "GeneralSans-MediumItalic",
    "GeneralSans-Semibold", "GeneralSans-SemiboldItalic", "GeneralSans-Bold",
    "GeneralSans-BoldItalic";
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: scroll;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  // cursor: none !important;
  background: linear-gradient(
    13deg,
    rgba(191, 83, 81, 1) 35%,
    rgba(93, 123, 134, 1) 100%
  );
}
