div.cursors div {
  position: absolute;
  width: 130px;
  height: 130px;
  z-index: 10000;
  background: transparent;
  border-radius: 50%;
  border: 2px solid white;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: height width 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.5s, height 0.5s, background 0.5s;
}

div.cursors div.visible {
  width: 200px;
  height: 200px;
  background: white;
}

div.cursors div span {
  font-size: 18px;
  position: absolute;
  color: black;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s;
}

div.cursors div span.visible {
  opacity: 1;
}
