.hero-container {
  height: 100vh;
  padding: 5vw 8vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  z-index: 1;
  background: linear-gradient(
    13deg,
    rgba(109, 109, 199, 1) 35%,
    rgba(12, 157, 186, 1) 100%
  );
}

.hero-wrapper {
  overflow: hidden;
  z-index: 1;
}

.header {
  color: white;
  font-size: 6.25vw;
  font-weight: 600;
  margin: 0vw;
  margin-bottom: 8vw;
  letter-spacing: -0.34vw;
}

.sub {
  color: white;
  font-size: 1vw;
  font-weight: 400;
  margin: 0vw;
  position: absolute;
  bottom: 5vw;
  left: 8vw;
}

// triangles
.triangle-top {
  width: 0;
  height: 0;
  border-left: 19vw solid transparent;
  border-right: 19vw solid transparent;
  border-top: 30vw solid #ffffff13;
  position: absolute;
  left: 15vw;
  top: -10vw;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 19vw solid transparent;
  border-bottom: 19vw solid transparent;
  border-left: 30vw solid #ffffff13;
  position: absolute;
  left: -10vw;
  z-index: 1;
}

.triangle-bottom {
  width: 0;
  height: 0;
  border-left: 19vw solid transparent;
  border-right: 19vw solid transparent;
  border-bottom: 30vw solid #ffffff13;
  left: 15vw;
  bottom: -10vw;
  position: absolute;
}

.triangle-right {
  width: 0;
  height: 0;
  border-left: 19vw solid transparent;
  border-right: 19vw solid transparent;
  border-bottom: 30vw solid #ffffff13;
  right: 0vw;
  position: absolute;
  z-index: 2;
  display: flex;

  &::before {
    content: "";
    position: absolute;
    top: 6.04vw;
    right: -13.44vw;
    border-left: 13.5vw solid transparent;
    border-right: 13.5vw solid transparent;
    border-bottom: 21vw solid black;
  }
}
