.container-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: black;
  position: relative;
  z-index: 2;
}

.test-container {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  height: 700px;
  width: 400px;
  display: inline-block;
  position: absolute;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.purple {
  background: purple;
}

.green {
  background: green;
}
