.trusted-container {
  height: 60vh;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  padding: 0vw 7.24vw;
}

.trusted-row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.trusted-row-2 {
  width: 46.88vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  .trusted-col {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      display: block;
      width: auto;
    }

    .img1 {
      height: 3vw;
    }
    .img2 {
      height: 2vw;
    }
    .img3 {
      height: 5vw;
    }
  }
}

.trusted-header {
  font-size: 5.21vw;
  color: black;
  font-weight: 600;
  letter-spacing: -0.31vw;
  line-height: 4.58vw;
  margin: 0;
  padding-bottom: 1.04vw;
}

.trusted-sub {
  font-size: 1.04vw;
  color: gray;
  font-weight: 600;
  margin: 0;
  font-weight: 100;
}
