.work-container {
  height: 100vh;
  width: 100%;
  background: #050215;
  background-image: url("../svgs/lines.svg");
  background-position: top right;
  background-size: 56vw 56vw;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  padding: 5.21vw 7.24vw;
}

.work-heading {
  font-size: 5.21vw;
  color: white;
  font-weight: 600;
  letter-spacing: -0.31vw;
  line-height: 4.58vw;
  margin: 0vw;
  padding-bottom: 5.21vw;
}

.work-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
  padding: 0vw 3.13vw;
}

.work-row {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .work-bubble1 {
    width: auto;
    height: 2.08vw;
    padding: 0vw 0.94vw;
    text-align: center;
    color: black;
    font-size: 0.68vw;
    border-radius: 1.04vw;
    background: #f2e6e8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 6vw;
    right: -10vw;

    @keyframes float {
      0% {
        transform: translatey(0vw);
      }

      50% {
        transform: translatey(-0.5vw);
      }

      100% {
        transform: translatey(0vw);
      }
    }

    transform: translatey(0vw);
    animation: float 6s ease-in-out infinite;
  }

  .work-bubble2 {
    width: auto;
    height: 2.08vw;
    padding: 0vw 0.94vw;
    text-align: center;
    color: black;
    font-size: 0.68vw;
    border-radius: 1.04vw;
    background: #effefd;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8.5vw;
    right: -8vw;

    @keyframes float {
      0% {
        transform: translatey(0vw);
      }

      50% {
        transform: translatey(-0.5vw);
      }

      100% {
        transform: translatey(0vw);
      }
    }

    transform: translatey(0vw);
    animation: float 6.1s ease-in-out infinite;
  }

  .work-bubble3 {
    width: auto;
    height: 2.08vw;
    padding: 0vw 0.94vw;
    text-align: center;
    color: black;
    font-size: 0.68vw;
    border-radius: 1.04vw;
    background: #f2f3f7;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8.5vw;
    right: -15vw;

    @keyframes float {
      0% {
        transform: translatey(0vw);
      }

      50% {
        transform: translatey(-0.5vw);
      }

      100% {
        transform: translatey(0vw);
      }
    }

    transform: translatey(0vw);
    animation: float 5.9s ease-in-out infinite;
  }
  .work-bubble4 {
    width: auto;
    height: 2.08vw;
    padding: 0vw 0.94vw;
    text-align: center;
    color: black;
    font-size: 0.68vw;
    border-radius: 1.04vw;
    background: #e2f1e8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 11vw;
    right: -7vw;

    @keyframes float {
      0% {
        transform: translatey(0vw);
      }

      50% {
        transform: translatey(-0.5vw);
      }

      100% {
        transform: translatey(0vw);
      }
    }

    transform: translatey(0vw);
    animation: float 6.2s ease-in-out infinite;
  }
  .work-bubble5 {
    width: auto;
    height: 2.08vw;
    padding: 0vw 0.94vw;
    text-align: center;
    color: black;
    font-size: 0.68vw;
    border-radius: 1.04vw;
    background: #f2e6e8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 11vw;
    right: -13.5vw;

    @keyframes float {
      0% {
        transform: translatey(0vw);
      }

      50% {
        transform: translatey(-0.5vw);
      }

      100% {
        transform: translatey(0vw);
      }
    }

    transform: translatey(0vw);
    animation: float 5.8s ease-in-out infinite;
  }
  .work-bubble6 {
    width: auto;
    height: 2.08vw;
    padding: 0vw 0.94vw;
    text-align: center;
    color: black;
    font-size: 0.68vw;
    border-radius: 1.04vw;
    background: #fef8d8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 13.5vw;
    right: -5vw;

    @keyframes float {
      0% {
        transform: translatey(0vw);
      }

      50% {
        transform: translatey(-0.5vw);
      }

      100% {
        transform: translatey(0vw);
      }
    }

    transform: translatey(0vw);
    animation: float 6.3s ease-in-out infinite;
  }
}

.work-row2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  height: 15.63vw;

  h2 {
    font-size: 0.94vw;
    font-weight: 600;
    color: #71a2ff;
    margin: 0;
  }

  h1 {
    font-size: 2.6vw;
    color: white;
    font-weight: 600;
    margin: 0;
    line-height: 2.5vw;
  }

  p {
    font-size: 0.83vw;
    font-weight: 100;
    color: rgb(214, 214, 214);
    margin: 0;
  }

  button {
    height: 2.97vw;
    width: 9.38vw;
    border-radius: 1.56vw;
    color: white;
    font-size: 1.04vw;
    font-weight: 300;
    background: #71a2ff;
  }
}

.work-girl {
  // height: 21.35vw;
  // width: 21.35vw;
  height: 3vw;
  width: auto;
}
