.work-container {
  height: auto;
  width: 100%;
  background: #09011b;
  // background-image: url("../svgs/lines.svg");
  // background-position: top right;
  // background-size: 56vw 56vw;
  // background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  padding: 5.21vw 7.24vw;
}

.work-heading {
  font-size: 5.21vw;
  color: white;
  font-weight: 600;
  letter-spacing: -0.31vw;
  line-height: 4.58vw;
  margin: 0vw;
  padding-bottom: 5vw;
}

.work-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
  padding: 0vw 3.13vw;
}

.work-row {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 29vw;
  height: 29vw;

  .work-circle-outer {
    height: 28.07vw;
    width: 28.07vw;
    border: 0.03vw dashed #ffffff;
    border-radius: 50%;
    opacity: 0.47;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .work-circle-inner {
    height: 10.42vw;
    width: 10.42vw;
    border: 0.03vw dashed #ffffff;
    border-radius: 50%;
    opacity: 0.47;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .work-icon {
    background-image: url("../svgs/WorkSection/worklogo.svg");
    background-size: 4vw 4vw;
    background-position: center center;
    background-repeat: no-repeat;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    background-color: #161428;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .work-window {
    background-image: url("../images/WorkSection/microsoft.png");
    background-size: 2.4vw 2.4vw;
    background-position: center center;
    background-repeat: no-repeat;
    height: 6vw;
    width: 6vw;
    border-radius: 50%;
    background-color: #141226;
    position: absolute;
    top: 2vw;
    right: 2vw;
  }

  .work-cloud {
    background-image: url("../images/WorkSection/cloud.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    position: absolute;
    top: 12vw;
    right: -1.4vw;
  }

  .work-aws {
    background-image: url("../images/WorkSection/aws.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 4.6vw;
    width: 4.6vw;
    border-radius: 50%;
    position: absolute;
    top: 21vw;
    right: 1.2vw;
  }

  .work-math {
    background-image: url("../images/WorkSection/mathcircle.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 4.4vw;
    width: 4.4vw;
    border-radius: 50%;
    position: absolute;
    top: 22vw;
    left: 2vw;
  }

  .work-fox {
    background-image: url("../images/WorkSection/firefox.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 4.6vw;
    width: 4.6vw;
    border-radius: 50%;
    position: absolute;
    top: 26vw;
    right: 12vw;
  }

  .work-man {
    background-image: url("../images/WorkSection/mancomp.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    position: absolute;
    top: 10vw;
    right: 25.6vw;
  }

  .work-client {
    background-image: url("../images/WorkSection/circlegirl.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 6vw;
    width: 6vw;
    border-radius: 50%;
    position: absolute;
    top: 0vw;
    right: 19.6vw;
  }
}

.work-row2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  height: 22vw;

  .bubble-container {
    display: flex;
    flex-wrap: wrap;
    height: 7vw;
    width: 19vw;

    .work-bubble1 {
      width: auto;
      height: 2.08vw;
      padding: 0vw 0.94vw;
      margin: 0.2vw;
      text-align: center;
      color: black;
      font-size: 0.68vw;
      border-radius: 1.04vw;
      background: #f2e6e8;
      display: flex;
      align-items: center;
      justify-content: center;

      @keyframes float {
        0% {
          transform: translatey(0vw);
        }

        50% {
          transform: translatey(-0.2vw);
        }

        100% {
          transform: translatey(0vw);
        }
      }

      transform: translatey(0vw);
      animation: float 6s ease-in-out infinite;
    }

    .work-bubble2 {
      width: auto;
      height: 2.08vw;
      margin: 0.2vw;
      padding: 0vw 0.94vw;
      text-align: center;
      color: black;
      font-size: 0.68vw;
      border-radius: 1.04vw;
      background: #effefd;
      display: flex;
      align-items: center;
      justify-content: center;

      @keyframes float {
        0% {
          transform: translatey(0vw);
        }

        50% {
          transform: translatey(-0.2vw);
        }

        100% {
          transform: translatey(0vw);
        }
      }

      transform: translatey(0vw);
      animation: float 6.1s ease-in-out infinite;
    }

    .work-bubble3 {
      width: auto;
      height: 2.08vw;
      padding: 0vw 0.94vw;
      margin: 0.2vw;
      text-align: center;
      color: black;
      font-size: 0.68vw;
      border-radius: 1.04vw;
      background: #f2f3f7;
      display: flex;
      align-items: center;
      justify-content: center;

      @keyframes float {
        0% {
          transform: translatey(0vw);
        }

        50% {
          transform: translatey(-0.2vw);
        }

        100% {
          transform: translatey(0vw);
        }
      }

      transform: translatey(0vw);
      animation: float 5.9s ease-in-out infinite;
    }
    .work-bubble4 {
      width: auto;
      margin: 0.2vw;
      height: 2.08vw;
      padding: 0vw 0.94vw;
      text-align: center;
      color: black;
      font-size: 0.68vw;
      border-radius: 1.04vw;
      background: #e2f1e8;
      display: flex;
      align-items: center;
      justify-content: center;

      @keyframes float {
        0% {
          transform: translatey(0vw);
        }

        50% {
          transform: translatey(-0.2vw);
        }

        100% {
          transform: translatey(0vw);
        }
      }

      transform: translatey(0vw);
      animation: float 6.2s ease-in-out infinite;
    }
    .work-bubble5 {
      width: auto;
      margin: 0.2vw;
      height: 2.08vw;
      padding: 0vw 0.94vw;
      text-align: center;
      color: black;
      font-size: 0.68vw;
      border-radius: 1.04vw;
      background: #f2e6e8;
      display: flex;
      align-items: center;
      justify-content: center;

      @keyframes float {
        0% {
          transform: translatey(0vw);
        }

        50% {
          transform: translatey(-0.2vw);
        }

        100% {
          transform: translatey(0vw);
        }
      }

      transform: translatey(0vw);
      animation: float 5.8s ease-in-out infinite;
    }
    .work-bubble6 {
      width: auto;
      height: 2.08vw;
      margin: 0.2vw;
      padding: 0vw 0.94vw;
      text-align: center;
      color: black;
      font-size: 0.68vw;
      border-radius: 1.04vw;
      background: #fef8d8;
      display: flex;
      align-items: center;
      justify-content: center;

      @keyframes float {
        0% {
          transform: translatey(0vw);
        }

        50% {
          transform: translatey(-0.2vw);
        }

        100% {
          transform: translatey(0vw);
        }
      }

      transform: translatey(0vw);
      animation: float 6.3s ease-in-out infinite;
    }
  }

  h2 {
    font-size: 0.94vw;
    font-weight: 600;
    color: #71a2ff;
    margin: 0;
  }

  h1 {
    font-size: 2.6vw;
    color: white;
    font-weight: 600;
    margin: 0;
    line-height: 2.5vw;
  }

  p {
    font-size: 0.83vw;
    font-weight: 100;
    color: rgb(214, 214, 214);
    margin: 0;
  }

  button {
    height: 2.97vw;
    width: 9.38vw;
    border-radius: 1.56vw;
    color: white;
    font-size: 1.04vw;
    font-weight: 300;
    background: #71a2ff;
  }
}

.work-girl {
  // height: 21.35vw;
  // width: 21.35vw;
  height: 3vw;
  width: auto;
}
